<% category = Category.find(@id) %>
<h1><%= category.category_name() %></h1>

<h3>This category includes the following expenses:</h3>
<% if category.expenses().any?() %>
  <ul>
  <% category.expenses().each() do |expense| %>
    <li><a href="/expenses/<%= expense.id() %>"><%= expense.description() %>, <%= expense.cost() %> <%= expense.date() %> </a></li>
  <% end %>
  </ul>
<% else %>
  This category is empty
<% end %>

<hr>

<form action="/categories/<%= @id %>" method="POST">
  <div class="form-group">
    <label class="form-label" for="expenses_id">Add item:</label>
    <select class="form-control" id="expenses_id" name="expenses_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Expense.all().each() do |expense| %>
        <% if ! category.expenses().include?(expense) %>
          <option value="<%= expense.id() %>"><%= expense.description() %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button">Add Expense</button>
</form>


<a href="/">Back</a>
