<h1>Expense Organizer - Edit</h1>

<div class="row lists">
  <div class = "col-md-6">
    <h3>Expenses:</h3>
    <% if Expense.all().any?() %>
      <ul>
      <% Expense.all().each() do |expense| %>
        <li><a href="/edit/expenses/<%= expense.id() %>"><%= expense.description() %></a></li>
      <% end %>
      </ul>
    <% else %>
      You haven't added any expenses yet!
    <% end %>
  </div>

  <div class = "col-md-6">
    <h3>Categories:</h3>
    <% if Category.all().any?() %>
      <ul>
      <% Category.all().each() do |line| %>
        <li><a href="/admin/lines/<%= category.id() %>"><%= category.category_name() %></a></li>
      <% end %>
      </ul>
    <% else %>
      Your train system has no lines!
    <% end %>
  </div>
</div>

<hr>

<form action="/expenses" method="POST">
  <div class="form-group">
    <label class = "form-label" for="expenses_description">Add Expense:</label>
    <input class = "form-control" id="expenses_description" name="expenses_description" class="form-control" type="text" placeholder="Enter expense description">
  </div>
    <button type="submit" class="button button-add">Add Expense</button>
</form>

<hr>

<form action="/categories" method="POST">
  <div class="form-group">
    <label class = "form-label" for="categories_category_name">Add line:</label>
    <input class = "form-control" id="line_name" name="line_name" class="form-control" type="text" placeholder="Enter line name">
  </div>
  <button type="submit" class="button button-add">Add Line</button>
</form>

<hr>

<form action="/stations" method="POST">
  <input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <label class = "form-label" for="station_id">Delete station:</label>
    <select class = "form-control" id="station_id" name="station_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Station.all().each() do |station| %>
        <option value="<%= station.id() %>"><%= station.name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-delete">Delete station!</button>
</form>

<hr>

<form action="/lines" method="POST">
  <input name="_method" type="hidden" value="delete">
  <div class="form-group">
    <label class = "form-label" for="line_id">Delete line:</label>
    <select class = "form-control" id="line_id" name="line_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Category.all().each() do |line| %>
        <option value="<%= category.id() %>"><%= category.category_name() %></option>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button button-delete">Delete line!</button>
</form>
