<% expense = Expense.find(@id) %>
<h1><%= expense.description() %></h1>

<h3>This expense includes the following categories:</h3>
<% if expense.categories().any?() %>
  <ul>
  <% expense.categories().each() do |category| %>
    <li><a href="/categories/<%= category.id() %>"><%= category.category_name() %> </a></li>
  <% end %>
  </ul>
<% else %>
  This list of categories is empty
<% end %>

<hr>

<form action="/expenses/<%= @id %>" method="POST">
  <div class="form-group">
    <label class="form-label" for="category_id">Add category:</label>
    <select class="form-control" id="category_id" name="category_id">
      <option value='' disabled selected style='display:none'>Please Choose</option>
      <% Category.all().each() do |category| %>
        <% if ! expense.categories().include?(category) %>
          <option value="<%= category.id() %>"><%= category.category_name() %></option>
        <% end %>
      <% end %>
    </select>
  </div>
  <button type="submit" class="button">Add Category</button>
</form>


<a href="/">Back</a>
